<form action="/api/productos/" method="POST">
    Title:<input type="text" name="title" id="title" />
    Price:<input type="text" name="price" id="price" />
    Thumbnail: <input type="text" name="thumbnail" id="thumbnail" />
    <button type="submit">Crear</button>
</form>